{% extends 'base.html' %}

{% load humanize %}
{% load markdown_tags %}
{% load hitcount_tags %}

{% block head_title %}

{% endblock head_title %}

{% block content %}
<div class="my-5 py-5">
  <div class="py-5">
    <h1>{{object.title}}</h1>
    <hr>
    <p>{{object.description}}</p>
    <div class="my-3 mb-5 text-muted text-start small">
      <span>Updated {{object.updated_at|naturaltime}}</span>
      <p>View{{ hitcount.total_hits|pluralize }} {{ hitcount.total_hits }}</p>
    </div>
    <p>{{object.instructions | markdown | safe}}</p>
  </div>
</div>
{% endblock content %}