{% extends 'base.html' %}


{% block head_title %}

{% endblock head_title %}


{% block content %}
<div class="my-5 py-5">

  <div class="py-5">
    <div class="card"
      style="width: 18rem;">
      <img src="{{ object.image.url }}"
        class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-text">{{object.description}}</p>
        <a href="{{object.get_absolute_url}}"
          class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}